.form-master {
  display: flex;
  flex-direction: column;
}

.form-title {
  display: flex;
  justify-content: center;
  font-size: 7vw;
  /* height: 7vh; */
  font-weight: bold;
  align-items: center;
}

.form-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #242424;
  color: white;
  width: 95vw;
  align-self: center;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.form-main {
  display: flex;
  flex-direction: column;
  height: 65vh;
  align-items: center;
  justify-content: space-evenly;
}

.form-input-box {
  width: 90vw;
  /* height: 8vh; */
  font-size: 5vw;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-self: center;
}


.form-text-box {
  font-size: 6vw;
  text-align: left;
  padding: 2%;
}

.learn-about {
  display: flex;
  justify-content: center;
}

.form-dark-button {
  font-size: 6vw;
  background-color: #dddddd;
  /* color: white; */
  /* height: 15vw; */
  width: 25vw;
  margin: 2%;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

@media (min-width: 700px) {
  .form-title {
    font-size: 5vw;
  }

  .form-text-box {
    font-size: 2vw;
  }

  .form-main {
    background-color: #242424;
    color: white;
  }
  .form-input-box {
    width: 70vw;
    /* height: 8vh; */
    font-size: 2vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .form-dark-button {
    font-size: 3vw;
    background-color: #dddddd;
    /* color: white; */
    /* height: 15vw; */
    width: 15vw;
    /* margin: 2%; */
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }
}
  @media (min-width: 1000px) {
    .form-title {
      font-size: 2vw;
    }

    .form-text-box {
      font-size: 1vw;
    }

    .form-main {
      background-color: #242424;
      color: white;
    }
    .form-input-box {
      width: 40vw;
      /* height: 8vh; */
      font-size: 1vw;
      padding: 2%;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .form-dark-button {
      font-size: 2vw;
      background-color: #dddddd;
      /* color: white; */
      /* height: 15vw; */
      width: 15vw;
      /* margin: 2%; */
      box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    }
}







