.post-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-content: center;
}
.post-title {
  width: 100vw;
  font-size: 10vw;
  color: black;
}
.post-header {
  display: flex;
  background-color: white;
  color: black;
}

.post-content-box {
  display: flex;
  color: black;
  text-align: center;
  ;
}

