.master-dash {
  display: flex;
  flex-direction: column;
}

.dash {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  width: 95vw;
  align-self: center;

}
.dash-new {
  display: flex;
  flex-direction: column;
  color: black;
  height: 5vh;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.dash-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-self: center;
}
.dash-filter {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
margin: 10px 0;
color: white
}

.dash-search-box {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
width: 80%;
}

.dash-search-bar {
height: 5vh;
width: 40vw;
}

.dash-check-box {
display: flex;
justify-content: space-around;
align-items: center;
}

.dash-post-box{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;
}

.dash-post-box > h3 {
font-size: 30px;
}

.my-post-title {
  font-size: large;
  color: white;
}

.author-text {
  color: white;
}