.master-dash {
  display: flex;
  flex-direction: column;
  width: 95vw;
  align-self: center;
}

.dash {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  width: 90vw;
  /* height: 75vh; */
  align-self: center;
  align-content: space-around;
}

.content-box-dash-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.dash-new {
  display: flex;
  flex-direction: column;
  color: black;
  height: 5vh;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.dash-search {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  color: white;
  font-size: 7vw;
}
.dash-filter {
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: space-around; */
color: white
}

.dash-search-box {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width: 80vw;
height: 20vh;
}

.dash-search-bar {
height: 5vh;
width: 80vw;
}

.dash-check-box-container {
  display: flex;
  justify-content: space-around;
}

.dash-check-box {
display: flex;
justify-content: space-around;
align-items: center;
color: white;
}

.dash-post-box{
display: flex;
justify-content: space-between;
align-items: center;
/* margin: 10px 0; */
}

.dash-post-box > h3 {
font-size: 4vw;
}

.my-post-title {
  font-size: 6vw;
  color: black;
}

.author-text {
  color: black;
  font-size: 5vw;
}

.dash-dark-button {
  font-size: 7vw;
  width: 30vw;
  /* justify-content: space-evenly; */

}

.dash-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.content-box-dash-post-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2%;
  /* text-align: center; */
  justify-content: center;
  /* height: 15vh; */
  background-color: #eeeeee;
  color: #000000;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.dash-delete-button {
  font-size: 3vw;
  width: 30vw;
  height: 4vh;
  align-self: center;
  /* justify-content: center; */
  background-color: #242424;
  color: white;
}