.auth-parent {
  display: flex;
  flex-direction: column;
}

.auth-header {
  font-size: 15vw;

  display: flex;
  justify-content: center;

  background-color: #242424;
  color: white;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.section-parent {
  font-size: 8vw;

  text-align: center;
}

.register-container {
  height: 75vh;
  width: 85vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-self: center;

  color: white;
  background-color: #242424;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.auth-free {
  color: white;
  font-size: 5vw;
}

.dark-button {
  justify-content: center;
  font-size: 5vw;
}

.auth-input {
  font-size: 6vw;
  align-self: center;
}
input::placeholder {
  font-size: 3vw;
}
.auth-description {
  display: flex;
  color: white;
  align-self: center;
  font-size: 6vw;
  width: 80vw;
  border: solid #242424;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

}
@media (min-width: 700px) {
  .auth-description {
    font-size: 3vw;

    display: flex;
    justify-content: center;

    color: white;
    border: solid #242424;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

  }
  input::placeholder {
    font-size: 2vw;
  }

  .register-container {
    height: 85vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-self: center;

    color: white;
    background-color: #242424;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }
  .auth-free {
    color: white;
    font-size: 3vw;
  }

  .dark-button {
    justify-content: center;
    font-size: 3vw;
  }

  .auth-input {
    width: 65vw;
    font-size: 3vw;
    align-self: center;
  }
  .section-parent {
    font-size: 3vw;

    text-align: center;
  }
  .auth-header {
    font-size: 4vw;

    display: flex;
    justify-content: center;

    background-color: #242424;
    color: white;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }

}
@media (min-width: 1000px) {
  input::placeholder {
    font-size: 1vw;
  }
  .auth-description {
    font-size: 1vw;
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    border: solid #242424;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);

  }

  .register-container {
    height: 85vh;
    width: 60vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-self: center;

    color: white;
    background-color: #242424;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }
  .auth-free {
    color: white;
    font-size: 2vw;
  }

  .dark-button {
    justify-content: center;
    font-size: 2vw;
  }

  .auth-input {
    width: 35vw;
    font-size: 2vw;
    align-self: center;
  }
  .section-parent {
    font-size: 2vw;

    text-align: center;
  }
  .auth-header {
    font-size: 3vw;

    display: flex;
    justify-content: center;

    background-color: #242424;
    color: white;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }

}

.auth-error-msg {
  position: absolute;
  top: 55%;
  height: 40px;
  background-color: white;
  color: #403d39;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-error-msg > span {
  cursor: pointer;
  margin-left: 10px;
  color: #ff7a6e;
}

.auth-button-container {
  display: flex;
  justify-content: space-around;
}



